html {
    scroll-behavior: smooth;
    margin-top: 2%;
}

#navbarResponsive {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 10%;
}

.blockA {
    background-color: #f5faf9;
}

.blockB {
    background-color: #e9ecef;
}

section {
    height: 100vh;
    width: 100vw;
    padding: 2%
}

section div {
}

section #presentation {

}

section #profile {

}

section #skills {

}

section #contact {

}

.skills-progress-bar {
    width: 40%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}

.skills-color {
    width: 90%;
    background-color: #4CAF50;
}

.css {
    width: 70%;
    background-color: #1398c4;
}

.js {
    width: 75%;
    background-color: #ffaf14;
}

.laravel {
    width: 65%;
    background-color: #f55050;
}

.symfony {
    width: 45%;
    background-color: #343432;
}

.react {
    width: 50%;
    background-color: #6240b7;
}

.git {
    width: 70%;
    background-color: #6240b7;
}
