html {
    scroll-behavior: smooth;
    margin-top: 2%;
}

#navbarResponsive {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 10%;
}

section #profile {
    height: 100vh;
    width: 100vw;
    background-color: #f5faf9;
}

section #skills {
    height: 100vh;
    width: 100vw;
    background-color: #e9ecef;
}

section #contact {
    height: 100vh;
    width: 100vw;
    background-color: #f5faf9;
}
